// Animation parts
@keyframes flip-in {
	0% {
		transform: translate(-50%, -50%) rotate3d(1, 0, 0, -90deg);
		opacity: 0;
	}
	25% {
		transform: translate(-50%, -50%) rotate3d(1, 0, 0, 45deg);
		opacity: 0;
	}
	50% {
		transform: translate(-50%, -50%) rotate3d(1, 0, 0, -35deg);
		opacity: 1;
	}
	75% {
		transform: translate(-50%, -50%) rotate3d(1, 0, 0, 25deg);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) rotate3d(1, 0, 0, 0deg);
		opacity: 1;

	}
}

@keyframes fade-out {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes bottom-up{
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes top-down {
	from {
		opacity: 0;
		transform: translateY(-30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes left-in {
	from {
		opacity: 0;
		transform: translateX(-30px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes right-in {
	from {
		opacity: 0;
		transform: translateX(30px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}