#bang-gia {
	.section {
		padding: 35px 0;
	}
	.img-border {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		&:before,
		&:after {
			content: '';
			position: absolute;
			border: solid 12px transparent;
			border-image: linear-gradient(45deg, #ff5f3d 0%,#ffae00 26%,#ff5f3d 100%);
			border-image-slice: 1;
			width: 0;
			height: 0;
			opacity: 0;
		}
		&:before {
			border-left: none;
			border-bottom: none;
		}
		&:after {
			border-top: none;
			border-right: none;
		}

		&.animated {
			&:before,
			&:after {
				width: 100%;
				height: 100%;
				opacity: 1;
			}
			&:before {
				transition: width .75s cubic-bezier(.73,0,.35,1), height .75s cubic-bezier(.73,0,.35,1) .75s;
			}
			&:after {
				transition: height .75s cubic-bezier(.73,0,.35,1) , width .75s cubic-bezier(.73,0,.35,1) .75s;
			}
		}
	}
	.no-bullet {
		list-style-type: none;
	}
	font-family: $font-base;
	p {
		margin-bottom: 5px;
		font-size: 1.2rem;
		line-height: 1.7
	}
	.highlight-text {
		font-weight: 700;
		color: #ff5f3d;
	}
	.highlight-text-no-bold {
		color: #ff5f3d;
	}
	.highlight-text-nobold {
		color: #ff5f3d;
	}
	.underline-text {
		text-decoration: underline;
	}
	.bullet-text {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: -10px;
			top: 10px;
			border-top: 5px solid transparent;
			border-left: 7px solid #999999;
			border-bottom: 5px solid transparent;
		}
	}
	.section-1 {
		.block-left,
		.block-right {
			transition: all .55s cubic-bezier(.18,.46,.31,1);
		}
		.block-left {
			&.hidden {
				transform: translateX(-80px);
				opacity: 0;
			}
		}
		.block-right {
			&.hidden {
				transform: translateX(80px);
				opacity: 0;
			}
		}
		.content {
			position: relative;
			padding: 30px 15px 30px 50px;
			p {
				margin-bottom: 15px;
			}
			.center-block-text {
				text-align: center;
				font-size: 1.2rem;
				margin-bottom: 10px;
				.highlight-text {
					font-weight: 400;
				}
			}
		}
		.title {
			font-family: $font-secondary;
			text-align: center;
			margin-bottom: 30px;
			.text-1 {
				font-size: 28px;
				font-weight: 400;
			}
			.text-2 {
				font-size:60px;
				line-height: 1.2;
				font-weight: 400;
			}
		}
		.button-wrap {
			text-align: right;
			a.cargo-button {
				color: white;
				padding: 7px 12px;
				background-color: #ff5f3d;
				font-weight: 700;
				display: inline-block;
				width: 220px;
				text-align: center;
				margin-bottom: 15px;
			}
		}
		.contact-box {
			margin-top: 30px;
			text-align: right;
			font-family: $font-secondary;
			h3 {
				font-size: 30px;
			}
			div {
				font-size: 20px;
			}
			&.mobile {
				text-align: center;
			}
		}
	}
	.section-2 {
		.title {
			font-size: 30px;
			text-align: center;
			font-family: $font-secondary;
		}
		.title-1,
		.title-2 {
			transition: all .65s cubic-bezier(.18,.46,.31,1);
			&.hidden {
				transform: translateX(-50px);
				opacity: 0;
			}
		}
		.box-wrap {
			text-align: center;
			margin: 30px 0;
			.box {
				display: inline-block;
				width: 250px;
				margin: 0 15px;
				transition: all .6s cubic-bezier(0,.29,.18,1);
				&.hidden {
					transform: translateY(80px);
					opacity: 0;
				}
				.content-wrap {
					border: solid 12px transparent;
					border-image: linear-gradient(45deg, #ff5f3d 0%,#ffae00 26%,#ff5f3d 100%);
					border-image-slice: 1;
					padding: 15px;
					.box-highlight-text {
						font-size: 30px;
					}
				}
			}
		}
		.table-wrap {
			margin-top: 30px;
			transition: all 1s ease-out;
			&.hidden {
				transform: translateY(80px);
				opacity: 0;
			}
		}
	}
	.section-3 {
		.title {
			font-size: 30px;
			text-align: center;
			font-family: $font-secondary;
			line-height: 1.2;
			font-weight: 400;
			transition: all .5s cubic-bezier(0,.29,.18,1);
			&.hidden {
				transform: translateX(-50px);
				opacity: 0;
			}
		}
		.content {
			margin-top: 30px;
			box-shadow: 0px -1px 40px 5px rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			padding: 40px;
			transition: all .8s cubic-bezier(0,.29,.18,1);
			&.hidden {
				transform: translateX(50px);
				opacity: 0;
			}
			p {
				font-weight: 400;
			}
		}
	}
	.section-4 {
		transition: all 1.2s cubic-bezier(0,.29,.18,1);
		&.hidden {
			transform: translateY(80px);
			opacity: 0;
		}
		.title {
			font-size: 30px;
			text-align: center;
			font-family: $font-secondary;
		}
		.link-list {
			margin-top: 30px;
			padding: 0;
			li {
				list-style-type: none;
				margin-bottom: 15px;
				a {
					color: #ff5f3d;
					font-weight: 700;
					font-size: 28px;
				}
				.icon {
					width: 25px;
			    height: 35px;
			    margin-right: 7px;
			    display: inline-block;
			    vertical-align: middle;
				}
				.link-icon {
					background: url('../img/icons/icon-link.png') no-repeat 0 0 / 100% auto;
				}
			}
		}
	}
}
.orange-bg {
	background-color: #ff5f3d;
}
.green-bg {
	background-color: #83d160;
}
.yellow-bg {
	background-color: #ffa037;
}
.red-bg {
  background-color: rgba(187, 0, 6, 0.1)
}
.orange-text {
	color: #ff5f3d
}
.green-text {
	color: #83d160
}
.yellow-text {
	color: #ffa037
}
.red-text {
  color: rgba(187, 0, 6, 0.94)
}
.table-wrap {
	box-shadow: 0px -1px 40px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	.table-head {
		.tb-col {
			float: left;
		}
		.head-top,
		.head-bottom {
			overflow: hidden;
			text-align: center;
			.tb-col-1 {
				width: 40%;
			}
			.tb-col-2,
			.tb-col-3 {
				width: 30%;
			}
		}
		.head-top {
			.tb-col-1,
			.tb-col-2,
			.tb-col-3 {
				padding: 20px 0;
				span {
					color: white;
					font-weight: 700;
					text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
				}
			}
			&.mobile {
				.tb-col {
					height: 100px;
					position: relative;
					span {
						position: absolute;
						width: 100%;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
		.head-bottom {
			background-color: #f5f5f5;
			.tb-col-1 {
				height: 50px;
			}
			.sub-tb-col-1,
			.sub-tb-col-2 {
				width: 50%;
				margin-top: 10px;
			}
			.tb-col-1,
			.tb-col-2,
			.tb-col-3 {
				padding: 10px 0;
				height: 60px;
				span {
					font-weight: 700;
				}
			}

		    .tb-col-1 {
				border: solid 1px #ff5f3d;
				border-right: none;
		    }
			.tb-col-2 {
				border: solid 1px #83d160;
				border-right: none;
			}
			.tb-col-3 {
				border: solid 1px #ffa037
			}

			.small-text {
				font-size: 12px;
			}
		}
	}
	.table-head {
		@media (min-width: 768px) {
			&.fixed {
				position: fixed;
				top: 0;
				width: 100%;
				max-width: 690px;
			}
		}
		@media (min-width: 992px) {
			&.fixed {
				max-width: 930px;
			}
		}
		@media (min-width: 1200px) {
			&.fixed {
				max-width: 1111px;
			}
		}
	}
	.table-body {
		text-align: center;
		.tb-row {
			display: table;
			clear: both;
			width: 100%;
			&:nth-child(2n+1) {
				background-color: #f5f5f5;
			}
		}
		.tb-col {
			float: left;
			span {
				display: block;
			  padding: 12px;
			  &:nth-child(2n) {
			  	background-color: #f5f5f5;
			  }
			}
		}
		.tb-col-1 {
			width: 40%;
			span {
				text-align: left;
			}
		}
		.tb-col-2,
		.tb-col-3 {
			width: 15%;
		}
		.tb-col-4 {
			width: 30%;
			span {
				text-align: center;
			}
		}
		.tb-col-2 {
			.sub-tb-col-1,
			.sub-tb-col-2 {
				width: 50%;
			}
		}
	}

	@media (min-width: 320px) and (max-width: 767px) {
		.table-body {
			overflow: auto;
			max-height: 400px;
		}
	}
	@media (min-width: 1400px) {
		
	}
}