#bang-gia {
	@media (max-width: 767px) {
		.section-1 {
			.title {
				.text-2 {
					font-size: 50px;
				}
			}
			.content {
				padding: 15px;
			}
			.button-wrap {
				text-align: center;
			}
		}
		.section-2 {
			.title {
				font-size: 22px;
			}
			.box-wrap {
				.box {
					margin-bottom: 20px;
				}
			}
		}
		.section-3 {
			.title {
				font-size: 22px;
			}
			.content {
				padding: 20px 20px 20px 40px;
				ol, ul {
					padding: 0;
				}
			}
		}
		.section-4 {
			.title {
				font-size: 22px;
			}
			.link-list {
				li {
					a {
						font-size: 18px;
					}
					.icon {
						width: 20px;
						height: 30px
					}
				}
			}
		}
	}

	@media (max-width: 991px) {
		.section-2 {
			.box-wrap {
				.box {
					width: 190px;
					.content-wrap {
						.box-highlight-text {
							font-size: 22px;
						}
					}
				}
			}
		}
	}

	@media (min-width: 568px) and (max-width: 736px) {
		.section-2 {
			.box-wrap {
				.box {
					width: 160px;
					margin: 0 3px 20px;
					.content-wrap {
						.box-highlight-text {
							font-size: 16px;
						}
						.small-text {
							font-size: 13px;
						}
					}
				}
			}
		}
	}
	@media (min-width: 768px) {
		.section-1 {
			.title {
				text-align: right;
				.text-2 {
					font-size: 40px;
				}
			}
		}
	}
	@media (min-width: 992px) {
		.bullet-text {
			&:before {
				left: -15px;
			}
		}
		.section-1 {
			.title {
				.text-2 {
					font-size: 50px;
				}
			}
		}
	}

	@media (min-width: 1200px) {
		.section-1 {
			.title {
				.text-2 {
					font-size: 60px;
				}
			}
		}
	}
}

.table-wrap {
	@media (min-width: 768px) {
		.table-head {
			.head-top{
				.tb-col-1,
				.tb-col-2,
				.tb-col-3 {
					height: 80px;				
				}
			}
		}
	}
	@media (min-width: 1400px) {
		.table-head {
			.head-top{
				.tb-col-1,
				.tb-col-2,
				.tb-col-3 {
					height: 60px;				
				}
			}
		}
	}
}