#gui-hang-di-my {
	@media (min-width: 768px) {
		.section-1 {
			.block-left {
				margin-top: 60px;
			}
			.section-1-bottom {
				width: 100%;
				.box {
					display: inline-block;
					width: 31.33%;
					vertical-align: top;
					margin: 0 5px 0;
				}
			}
		}
		.section-2 {
			.section-title {
				font-size: 22px;
				margin-bottom: 15px
			}
			.block-left {
				margin-top: 30px;
			}
			.second-row {
				margin-top: 30px;
			}
		}
		.section-3 {
			.section-title {
				font-size: 22px;
			}
		}
	}

	@media (min-width: 992px) {
		.bullet-text {
			&:before {
				left: -15px;
			}
		}
		.checked-text {
			padding-left: 15px;
			&:before {
				width: 25px;
				height: 25px;
			}
		}
		.section-1 {
			.image-title {
				margin-right: 50px;
				font-size: 30px;
			}
			.sec-image-wrap {
				.img-border {
					left: 25px
				}
				.img-text-1 {
					right: 50px;
					font-size: 50px;
				}
				.img-text-2 {
					right: 50px;
					font-size: 40px;
					.tel-1,
					.tel-2 {
						font-size: 24px;
					}
				}
			}

			.section-1-bottom {
				.box {
					width: 22%;
					.content-wrap {
						.box-highlight-text {
							font-size: 40px;
						}
					}
				}
			}
		}
		.section-2 {
			margin-top: 5%;
			.section-title {
				margin-bottom: 5%;
				font-size: 28px;
			}
			.second-row {
				margin-top: 6%
			}
		}
		.section-3 {
			margin-top: 8%;
			.section-title {
				font-size: 28px;
			}
		}
	}
	@media (min-width: 1400px) {
		.section-2,
		.section-3 {
			.section-title {
				font-size: 32px;
			}
		}
	}
}