$font-base: 'RobotoCondensed';
$font-secondary: 'UTMBebas';
body {
	font-family: $font-base;
	font-weight: 400;
}
.overlay-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparentize(#000, .3) url('../img/pattern/line-pattern.png') repeat;
	opacity: .7;
}
#homepage {
	.orange-text {
		font-weight: 700;
		color: #ff6a4a;
	}
	.date {
		color: #999999;
		font-size: 16px;
	}
	.section {
		&:not(:first-child) {
			margin: 15px 0;
		}
		.sec-title {
			 color: #ff5f3d;
			 text-align: center;
			 margin-bottom: 15px;
			 font-family: $font-secondary;
			 font-size: 38px;
		}
		.button-wrap {
			text-align: center;
			.sec-btn {
				background-color: #ff5f3d;
				color: #fff;
				font-family: $font-base;
				font-weight: 700;
			}
		}
	}
	.section-1 {
		position: relative;
		.slide-arrows {
			position: absolute;
			width: 100%;
			height: 50px;
			bottom: 20px;
			text-align: center;
			.arrow {
				width: 50px;
				height: 50px;
				border: solid 2px #fff;
				border-radius: 50%;
				display: inline-block;
				margin: 0 5px;
				&-prev {
					background:transparent url('../img/icons/arrow-left.png') no-repeat center / 70% auto;
				}
				&-next {
					background:transparent url('../img/icons/arrow-right.png') no-repeat center / 70% auto;
				}
			}
		}
		.banner-wrap {
			position: relative;
			width: 100vw;
			height: 100vh;
			perspective: 1000px;
			&.slick-active {
				.banner-content {
					animation: flip-in 1s ease  .45s forwards;
				}
			}
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: auto;
				height: 100%;
			}
			.banner-content {
				width: 100%;
				position: absolute;
				top: 65%;
				left: 50%;
				transform: translate(-50%,-50%) ;
				opacity: 0;
				animation: fade-out .3s forwards ease;
				h2, p {
					color: #fff;
				}
				h2.title {
					font-size: 42px;
					line-height: 1.2;
					font-family: $font-secondary;
					span {
						display: block
					}
				}
				.info {
					margin: 5px 0;
					font-family: $font-base;
				}
				ul.button-wrap {
					padding: 0;
					list-style-type: none;
					display: block;
					margin-top: 20px;
					li {
						display: inline-block;
					}
					.btn-1 a, .btn-2 a {
						font-size: 15px;
						font-family: $font-base;
						font-weight: 700;
					}
					.btn {
						&-1 {
							margin-right: 15px;
							.s1-btn1 {
								background-color: #fff;
								color: #ff5f3d;
							}
						}
						&-2 {
							.s1-btn2 {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	.section-2 {
		margin-left: -15px !important;
		margin-right: -15px !important;
		.top-block {
			text-align: center;
			margin: 5% 0;
			opacity: 0;
			.vietair-icon {
				margin-bottom: 20px;
			}
			.block-title {
				font-family: $font-secondary;
			}
			.desc {
				font-family: $font-base;
			}
			&.in {
				animation: bottom-up 1.5s cubic-bezier(0,.03,.08,.99) forwards;
			}
		}
		.bottom-block-wrap {
			opacity: 0;
			&.in {
				animation: bottom-up 1.5s ease forwards;
			}
		}
		.bottom-block {
			width: 350px;
			height: 450px;
			position: relative;
			padding: 0;
			margin: 0 7px;
			border-radius: 5px;
			.block-bg {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 0;
			}
			.content {
				position: relative;
				width: 90%;
				margin: 50px auto 0;
				text-align: center;
				h2.block-title {
					font-family: $font-secondary;
					font-size: 38px;
					color: #fff;
					span {
						display: block;
					}
				}
				ul.button-wrap {
					list-style-type: none;
					padding: 0;
					margin-top: 50px;
					.item {
						margin: 10px 0; 
						.s2-btn {
							background-color: #ff5f3d;
							color: #fff;
							font-family: $font-secondary;
							font-size: 22px;
						}
					}
				}
			}
		}
		.s2-bottom-info {
			margin-top: 20px;
			margin-bottom: 20px;
			.bottom-info {
				text-align: center;
				font-family: $font-secondary;
				font-size: 18px;
				opacity: 0;
				&.info-1 {
					&.in {
						animation: left-in .8s ease forwards;
					}
				}
				&.info-2 {
					&.in {
						animation: right-in .8s ease forwards;
					}
				}
			}
		}
	}
	.section-3 {
		margin: 0 -15px !important;
		padding: 0 15px;
		background: url('../img/pattern/bg-pattern.jpg') repeat;

		.s3-title {
			padding-top: 30px;
			margin-bottom: 5px;
			opacity: 0;
			&.in {
				animation: top-down 1.2s ease forwards
			}
		}
		.s3-sub-title {
			color: #000;
			font-size: 26px;
			opacity: 0;
			&.in {
				animation: top-down 1.2s ease forwards .15s
			}
		}

		.block {
			text-align: center;
			margin: 15px 0;
			opacity: 0;
			&.in {
				animation: right-in .65s ease forwards;
			}
			&-icon {
				width: 60px;
				margin-bottom: 20px;
			}
			&-title {
				font-family: $font-secondary;
				margin-bottom: 7px;
			}
			&-desc {
				font-size: 14px;
				width: 87%;
				margin: 0 auto;
			}
		}
	}

	.section-4 {
		margin-top: 0 !important;
		background-color: #fff3ee;
		.block {
			padding-top: 20px;
			padding-bottom: 20px;
			&-top {
				margin: 20px 0;
			}
			&-left {
				background-color: #fff3ee;
				opacity: 0;
				&.in {
					animation: left-in .7s ease forwards;
				}
				.block {
					&-top {
						.dots-wrap {
							ul.slide-dots {
								padding: 0;
								margin: 0;
								list-style-type: none;
								text-align: right;
								li {
									display: inline-block;
									button {
										width: 20px;
										height: 20px;
										background-color: transparent;
										border: none;
										position: relative;
										outline: none;
										cursor: pointer;
										padding: 0;
										font-size: 0;
										&:before {
											content: '';
											position: absolute;
											top: 50%;
											left: 50%;
											transform: translate(-50%, -50%);
											width: 10px;
											height: 10px;
											border: solid 2px #c9c9c9;
											border-radius: 50%;
											transition: all .2s ease;
										}
										&:hover {
											&:before {
												background-color: #ff5f3d;
												border-color: transparent
											}
										}
									}
									&.slick-active {
										button {
											&:before {
												background-color: #ff5f3d;
												border-color: transparent
											}
										}
									}
								}
							}
						}
						.arrows-wrap {
							text-align: center;
							.arrow {
								width: 40px;
								height: 40px;
								border: solid 2px #c9c9c9;
								border-radius: 50%;
								margin: 0 10px;
								display: inline-block;
								&-prev {
									background: url('../img/icons/grey-arrow-left.png') no-repeat center / auto;
								}
								&-next {
									background: url('../img/icons/grey-arrow-right.png') no-repeat center / auto;
								}
							}
						}
					}
					&-bottom {
						.s4-slide {
							width: 100%;
							height: 500px;
							display: inline-block;
							.slide-img {
								text-align: center;
								padding: 0 0 0 5px;
								img {
									margin: 0 auto;
								}
							}
							.slide-content {
								.slide-title {
									font-family: $font-base;
									font-size: 20px;
									margin-top: 15px;
								}
								.slide-desc {
									font-family: $font-base;
									font-weight: 700;
									font-size: 14px;
								}
							}
						}
					}
				}
			}
			&-right {
				background-color: #fffaef;
				opacity: 0;
				&.in {
					animation: right-in .7s ease forwards;
				}
				.block-bottom {
					padding: 0 15px;
					.news-list {
						padding: 0;
						list-style-type: none;
						.item {
							position: relative;
							.news-link {
								font-family: $font-base;
							}
							&:before {
								content: "";
								position: absolute;
								left: -12px;
								top: 7px;
								border-top: 5px solid transparent;
								border-left: 7px solid #ff5f3d;
								border-bottom: 2px solid transparent;
							}
						}
					}
				}
			}
		}
	}
	.section-5 {
		.block {
			opacity: 0;
			&.in {
				animation: bottom-up 1.2s ease forwards;
			}
			&-content {
				font-family: $font-base;
				p {
					margin: 5px 0
				}
			}
			.button-wrap {
				margin-top: 20px;
			}
			.video-wrap {
				margin-top: 15px;
			}
		}
	}
}

// For responsive Youtube video
.video-16by9 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
