#homepage {
	@media (min-width: 576px) {
		.section-1 {
			.banner-wrap {
				.banner-content {
					h2.title {
						font-size: 60px;
					}
					.info {
						font-size: 22px;
					}
					ul.button-wrap {
						li.btn-1 a,
						li.btn-2 a {
							font-size: 20px;
						}
					}
				}
			}
		}
		.section-2 {
			.s2-title {
				font-size: 52px;
			}
			.bottom-block {
				height: 650px;
				.content {
					h2.block-title {
						font-size: 48px;
					}
					ul.button-wrap {
						li.item {
							margin: 20px 0;
							.s2-btn {
								font-size: 28px;
							}
						}
					}
				}
			}
			.s2-bottom-info {
				.bottom-info {
					font-size: 28px;
				}
			}
		}

		.section-3 {
			.s3-title {
				font-size: 52px;
			}
			.block {
				&-desc {
					font-size: 16px;
				}
			}
		}
		.section-4 {
			.block {
				&-left {
					.block {
						&-top {
							.block-title {
								font-size: 38px;
							}
						}
						&-bottom {
							.s4-slide {
								.slide-content {
									max-width: 350px;
									margin: 0 auto;
								}
							}
						}
					}
				}
			}
		}

	}

	
	@media (min-width: 768px) {
		.section-1 {
			.banner-wrap {
				height: 350px;
				.banner-content {
					left: 50%;
					top: 50%;
					max-width: 1140px;
					h2.title {
						font-size: 32px;
					}
					.info {
						font-size: 18px;
					}
					ul.button-wrap {
						text-align: left;
						li.btn-1 a, li.btn-2 a {
							font-size: 16px;
						}
					}
				}
			}
			.slide-arrows {
				text-align: right;
				width: 90%;
				.arrow {
					width: 40px;
					height: 40px;
				}
			}
		}
		.section-4 {
			.block {
				&-left {
					.block-top {
						.block-title {
							font-size: 42px;
						}
					}
					.block-bottom {
						.s4-slide {
							height: 400px;
						}
					}
				}
			}
		}
	}

	@media (min-width: 992px) {
		.section {
			.button-wrap {
				.sec-btn {
					transition: background-color .2s ease;
					&:hover {
						background-color: darken(#ff5f3d, 15%);
					}
				}
			}
		}
		.section-1 {
			.banner-wrap {
				height: 440px;
				.banner-content {
					.info {
						font-size: 16px;
					}
					ul.button-wrap {
						li.btn-1 a, li.btn-2 a {
							font-size: 16px;
						}
						li.btn-1 a {
							&:hover {
								background-color: darken(#fff, 7%);
							}
						}
					}
				}
			}
			.slide-arrows {
				max-width: 1440px;
				.arrow {
					cursor: pointer;
					transition: background-color .2s ease;
					&:hover {
						background-color: #ff5f3d;
					}
				}
			}
		}
		.section-2 {
			margin-left: 0;
			margin-right: 0;
			.s2-title {
				font-size: 44px;
			}
			.bottom-block {
				height: 550px;
				.content {
					h2.block-title {
						font-size: 32px;
					}
					ul.button-wrap {
						li.item {
							.s2-btn {
								font-size: 22px;
								transition: background-color .2s ease;
								&:hover {
									background-color: darken(#ff5f3d, 5%);
								}
							}
						}
					}
				}
			}
			.s2-bottom-info {
				.bottom-info {
					font-size: 20px;
					letter-spacing:  1.3
				}
			}
		}
		.section-3 {
			.s3-title {
				font-size: 44px;
			}
		}
		.section-4 {
			.block {
				&-left, &-right {
					.block-top {
						.block-title {
							font-size: 32px;
						}
					}
				}
				&-left {
					.block {
						&-top {
							.dots-wrap {
								display: inline-block;
								width: 47%;
								vertical-align: middle;
							}
							.arrows-wrap {
								display: inline-block;
								width: 47%;
								text-align: right;
								vertical-align: middle;
								.arrow {
									margin: 0 5px;
									cursor: pointer;
									transition: background-color .2s ease;
									&:hover {
										background-color: transparentize(#ff5f3d, .8);
									}
								}
							}
						}
						&-bottom {
							.s4-slide {
								height: 250px;
								margin-bottom: 15px;
								.slide-img {
									display: inline-block;
									width: 38%;
									vertical-align: top;
								}
								.slide-content {
									display: inline-block;
									width: 55%;
									max-width: none;
									margin-left: 15px;
									.slide-title {
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
		}
		.section-5 {
			.block {
				.s5-title {
					font-size: 32px;
				}
			}
		}
	}

	@media (min-width: 1200px) {
		.section-1 {
			.banner-wrap {
				height: 540px;
				.banner-content {

					h2.title {
						font-size: 50px;
					}
				}
			}
		}
	}

	@media (min-width: 1600px) {
		.section-1 {
			.banner-wrap {
				height: 600px;
			}
		}
	}
}