#thu-tuc-gui-hang-tu-my-ve-viet-nam {
    @media (min-width: 768px) {
        .section-1 {
            .title {
                .text-1 {
                    font-size: 24px;
                }

                .text-2 {
                    font-size: 40px;
                    text-align: right;
                }
            }

            .button-wrap {
                text-align: right;
            }
        }

        .section-2 {
            .sidemenu {
                &.fixed {
                    width: auto;
                    left: initial;
                    transform: initial;
                    padding: 0;
                    background-color: transparent;
                    box-shadow: none;
                }

                &.disable-fixed {
                    opacity: 1;
                    position: absolute;
                    top: initial;
                    bottom: 0;
                }

                ul {
                    position: relative;
                    display: table;
                    max-width: none;
                    margin: 0;

                    &:after {
                        content: '';
                        width: 0;
                        height: 80%;
                        position: absolute;
                        border: none;
                        border-left: dashed 2px #e5e5e5;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 0;
                    }
                }

                .sidemenu-item {
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: #fff;
                    transition: all .35s ease-in-out;
                    cursor: pointer;
                    z-index: 1;

                    &:not(:last-child) {
                        margin: 30px 0;
                    }

                    &:hover {
                        &:before {
                            color: #ff5f3d;
                        }

                        .img-border {
                            &:before,
                            &:after {
                                border-image: linear-gradient(45deg, #ff5f3d 0%, #ffae00 26%, #ff5f3d 100%);
                                border-image-slice: 1;
                            }
                        }
                    }
                }
            }

            .block {
                .header {
                    font-size: 22px;
                }

                .content-wrap {
                    padding: 20px 30px;

                    .note {
                        margin: 15px 0;
                    }
                }
            }
        }
    }
}
