#thu-tuc-gui-hang-tu-my-ve-viet-nam {
    .section {
        padding: 35px 0;
    }

    .img-border {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        &:before,
        &:after {
            content: '';
            position: absolute;
            border: solid 12px transparent;
            border-image: linear-gradient(45deg, #ff5f3d 0%, #ffae00 26%, #ff5f3d 100%);
            border-image-slice: 1;
            width: 0;
            height: 0;
            opacity: 0;
        }

        &:before {
            border-left: none;
            border-bottom: none;
        }

        &:after {
            border-top: none;
            border-right: none;
        }

        &.animated {
            &:before,
            &:after {
                width: 100%;
                height: 100%;
                opacity: 1;
            }

            &:before {
                transition: width 0.75s cubic-bezier(0.73, 0, 0.35, 1), height 0.75s cubic-bezier(0.73, 0, 0.35, 1) 0.75s;
            }

            &:after {
                transition: height 0.75s cubic-bezier(0.73, 0, 0.35, 1), width 0.75s cubic-bezier(0.73, 0, 0.35, 1) 0.75s;
            }
        }
    }

    .no-bullet {
        list-style-type: none;
    }

    font-family: $font-base;

    p {
        margin-bottom: 5px;
        font-size: 1.2rem;
        line-height: 1.7;
    }

    .highlight-text {
        font-weight: 700;
        color: #ff5f3d;
    }

    .highlight-text-no-bold {
        color: #ff5f3d;
    }

    .highlight-text-nobold {
        color: #ff5f3d;
    }

    .underline-text {
        text-decoration: underline;
    }

    .bullet-text {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: -10px;
            top: 10px;
            border-top: 5px solid transparent;
            border-left: 7px solid #999999;
            border-bottom: 5px solid transparent;
        }
    }

    .section-1 {
        .block-left,
        .block-right {
            transition: all 0.55s cubic-bezier(0.18, 0.46, 0.31, 1);
        }

        .block-left {
            &.hidden {
                transform: translateX(-80px);
                opacity: 0;
            }
        }

        .block-right {
            &.hidden {
                transform: translateX(80px);
                opacity: 0;
            }
        }

        .content {
            position: relative;
            padding: 30px 20px 30px 35px;

            p {
                margin-bottom: 15px;
            }

            .center-block-text {
                text-align: center;
                font-size: 1.2rem;
                margin-bottom: 10px;

                .highlight-text {
                    font-weight: 400;
                }
            }
        }

        .title {
            font-family: $font-secondary;
            text-align: center;
            margin-bottom: 30px;

            .text-1 {
                font-size: 28px;
                font-weight: 400;
            }

            .text-2 {
                font-size: 60px;
                line-height: 1.2;
                font-weight: 400;
            }
        }

        .button-wrap {
            text-align: center;

            a.cargo-button {
                color: white;
                padding: 7px 12px;
                background-color: #ff5f3d;
                font-weight: 700;
                display: inline-block;
                width: 220px;
                text-align: center;
                margin-bottom: 15px;
            }
        }

        .contact-box {
            margin-top: 30px;
            text-align: right;
            font-family: $font-secondary;

            h3 {
                font-size: 30px;
            }

            div {
                font-size: 20px;
            }

            &.mobile {
                text-align: center;
            }
        }
    }

    .section-2 {
        transition: all 1.2s cubic-bezier(0.18, 0.46, 0.31, 1);

        &.hidden {
            transform: translateY(80px);
            opacity: 0;
        }

        .title {
            font-family: $font-secondary;
            text-align: center;
            margin-bottom: 30px;
        }

        .sidemenu {
            transition: opacity .5s ease;

            &.fixed {
                width: 100%;
                position: fixed;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                padding: 15px;
                background-color: #fff;
                box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
            }

            &.disable-fixed {
                opacity: 0;
            }

            &.hidden {
                display: none;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                max-width: 450px;
            }

            .sidemenu-item {
                width: 40px;
                height: 40px;
                font-family: $font-secondary;
                font-size: 20px;
                position: relative;

                &:before {
                    content: attr(data-text);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: #999;
                    transform: translate(-50%, -50%);
                }

                &:last-child {
                    &:before {
                        content: '';
                        background: url("./../img/icons/icon-video.png") no-repeat 0 0 / 100% auto;
                        width: 60%;
                        height: 50%;
                    }
                }

                .img-border {
                    transition: all 0.4s cubic-bezier(0.76, 0.01, 0.12, 1.55);

                    &:before,
                    &:after {
                        border-width: 5px;
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                        border-image: linear-gradient(#dcdcdc, #dcdcdc);
                        border-image-slice: 1;
                    }
                }

                &.active {
                    &:before {
                        color: #ff5f3d;
                    }

                    &:last-child {
                        &:before {
                            background-image: url("./../img/icons/icon-video-active.png");
                        }
                    }

                    > .img-border {
                        transform: rotate(45deg);

                        &:before,
                        &:after {
                            border-image: linear-gradient(45deg, #ff5f3d 0%, #ffae00 26%, #ff5f3d 100%);
                            border-image-slice: 1;
                        }
                    }
                }
            }
        }

        .block-wrap {
            margin-top: 20px;
            perspective: 1000px;
        }

        .block {
            box-shadow: 0px -1px 40px 5px rgba(0, 0, 0, 0.2);
            display: none;

            .header {
                text-align: center;
                background: linear-gradient(150deg, #ffae00 30%, #ff5f3d 70%);
                color: white;
                position: relative;
                font-family: $font-secondary;
                font-size: 20px;
                letter-spacing: 1px;
                padding: 15px;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 10px solid #ff5f3d;
                }
            }

            .content-wrap {
                margin-top: 20px;
                padding: 15px;

                ul {
                    padding-left: 15px;
                }

                figure {
                    text-align: center;

                    img {
                        margin: 5px 0;
                        width: 100%;
                        max-width: 350px;
                    }
                }

                .note {
                    font-size: 14px;
                }
            }

            &.closed {
                animation: animate-out .55s forwards ease;
            }

            &.show {
                display: block;
            }

            &.animate-in {
                animation: animate-in .55s forwards ease;
                display: block;
            }
        }
    }

    .section-3 {
        .title {
            text-align: center;
            font-family: $font-secondary;
        }

        .link-list {
            margin-top: 30px;
            padding: 0;

            li {
                list-style-type: none;
                margin-bottom: 15px;

                a {
                    color: #ff5f3d;
                    font-weight: 700;
                    font-size: 18px;
                }

                .icon {
                    width: 25px;
                    height: 35px;
                    margin-right: 7px;
                    display: inline-block;
                    vertical-align: middle;
                }

                .link-icon {
                    background: url("../img/icons/icon-link.png") no-repeat 0 0 / 100% auto;
                }
            }
        }
    }
}

@keyframes animate-out {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }

    100% {
        transform: translateZ(-5em);
        opacity: 0;
    }
}

@keyframes animate-in {
    0% {
        transform: translate3d(0, 2em, 1.5em);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
