#tu-order-hang-my {
	overflow: hidden;
	font-family: $font-base;
	p {
		margin-bottom: 5px;
	}
	p, ul li {
		font-size: 1.2rem;
		line-height: 1.7
	}
	.highlight-text {
		font-weight: 700;
		color: #ff5f3d;
	}
	.highlight-text-nobold {
		color: #ff5f3d;
	}
	.underline-text {
		text-decoration: underline;
	}
	.bullet-text {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: -10px;
			top: 10px;
			border-top: 5px solid transparent;
			border-left: 7px solid #999999;
			border-bottom: 5px solid transparent;
		}
	}
	.overlay-layer {
		opacity: .3;
		width: 95%;
	}
	.sec-image-wrap {
		position: relative;
		margin-bottom: 30px;
		.sec-img {
			width: 95%;
		}
		.img-border {
			position: absolute;
			top: -20px;
			left: 20px;
			width: 95%;
			height: 100%;
			&:before,
			&:after {
				content: '';
				position: absolute;
				border: solid 12px transparent;
				border-image: linear-gradient(45deg, #ff5f3d 0%,#ffae00 26%,#ff5f3d 100%);
				border-image-slice: 1;
				width: 0;
				height: 0;
				opacity: 0;
			}
			&:before {
				border-left: none;
				border-bottom: none;
			}
			&:after {
				border-top: none;
				border-right: none;
			}

			&.animated {
				&:before,
				&:after {
					width: 100%;
					height: 100%;
					opacity: 1;
				}
				&:before {
					transition: width .75s cubic-bezier(.73,0,.35,1), height .75s cubic-bezier(.73,0,.35,1) .75s;
				}
				&:after {
					transition: height .75s cubic-bezier(.73,0,.35,1) , width .75s cubic-bezier(.73,0,.35,1) .75s;
				}
			}
		}
	}

	.checked-text {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: -25px;
			top: 5px;
			width: 18px;
			height: 18px;
			background: url("../img/icons/icon-checked.png") no-repeat 0 0 / 100% 100%;
		}
	}
	.section-1 {
		padding: 15px 0;
		.block-left,
		.block-right {
			transition: all 1s cubic-bezier(.73,0,.35,1);
		}
		.block-left.hidden {
			transform: translateX(-150px);
			opacity: 0
		}
		.block-right.hidden {
			transform: translateX(50px);
			opacity: 0
		}
		.image-title,
		.img-text-1,
		.img-text-2 {
			text-align: right;
			font-family: $font-secondary;
		}
		.image-title {
			font-size: 24px;
			margin-right: 30px;
			margin-bottom: 30px;
		}
		.sec-image-wrap {
			.img-text-1,
			.img-text-2 {
				position: absolute;
				color: white;
			}
			.img-text-1 {
				top: 15px;
				right: 25px;
				font-size: 40px;
			}
			.img-text-2 {
				bottom: 60px;
				right: 25px;
				font-size: 26px;
				.tel-1,
				.tel-2 {
					font-size: 20px;	
				}
				.tel-1 {
					margin-top: 20px
				}
			}
		}

		.section-1-bottom {
			text-align: center;
			margin-top: 30px;
			width: 55%;
			margin: 30px auto 0;
			.box {
				margin: 5% 0;
				transition: all .8s cubic-bezier(0,.05,.13,1);
				.content-wrap {
					border: solid 1px #999;
					padding: 3px;
					.small-text {
						text-decoration: underline;
					}
					.box-highlight-text {
						font-size: 30px;
					}
				}
				.box-action {
					background-color: #ff5f3d;
					padding: 5px 10px;
					display: block;
					margin-top: 2px;
					color: white;
					font-family: $font-base;
					font-weight: 700;
				}

				&.hidden {
					transform: translateY(80px);
					opacity: 0;
				}
			}
		}
	}

	.section-2 {
		background: #fffff5 url('../img/pattern/line-pattern.png') repeat;
		padding: 15px 0;
		.section-title {
			text-align: center;
			margin-top:30px;
			margin-bottom: 50px;
			font-size: 26px;
			.title-1,
			.title-2 {
				font-family: $font-secondary;
				transition: all .8s ease;
			}

			&.hidden {
				.title-1 {
					transform: translateX(-80px);
					opacity: 0;
				}
				.title-2 {
					transform: translateX(80px);
					opacity: 0;
				}
			}
		}
		.first-row,
		.second-row {
			.block-left,
			.block-right {
				transition: all .75s ease;
				&.hidden {
					transform: translateY(50px);
					opacity: 0;
				}
			}
		}
		.sec-image-wrap {
			text-align: right;
			&.sec-image-wrap-2 {
				margin-top: 30px;
				margin-bottom: 30px;
				text-align: left;
				.overlay-layer {
					left: 0;
				}
			}
			.overlay-layer {
				right: 0;
			}
			.img-border-2 {
				left: -5px;
				top: -20px;
				&:before,
				&:after {
					left: 0;
				}
			}
		}
		.content-wrap {
			margin-top: 30px;
			padding-left: 20px;
			&.content-wrap-2 {
				margin-top: 0;
			}
		}
	}

	.section-3 {
		margin-top: 30px;
		padding-bottom: 5%;
		.section-title {
			text-align: center;
			margin-bottom: 30px;
			font-family: $font-secondary;
			font-size: 26px;
		}
		.video-wrap {
			border: solid 10px transparent;
			border-image: linear-gradient(45deg, #ff5f3d 0%,#ffae00 26%,#ff5f3d 100%);
			border-image-slice: 1;
			margin-bottom: 20px
		}
		.content-wrap {
			font-family: $font-base;
			.see-detail {
				text-align: center;
				margin-top: 25px;
				&-button {
					color: white;
					background-color: #ff5f3d;
					padding: 10px 15px;
				}
			}
			.see-more {
				display: block;
				font-size: 1.2rem;
			}
		}
		.section-title,
		.block-left,
		.block-right {
			transition: all .55s ease;
		}
		&.hidden {
			.section-title,
			.block-left,
			.block-right {
				opacity: 0
			}
			.block-left {
				transform: translateX(-70px);
			}
			.block-right {
				transform: translateX(70px);
			}
		}
	}
}