@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/roboto_condensed/RobotoCondensed-Regular.ttf') format('TrueType');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/roboto_condensed/RobotoCondensed-Light.ttf') format('TrueType');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/roboto_condensed/RobotoCondensed-Bold.ttf') format('TrueType');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'UTMBebas';
	src: url('../fonts/utm_bebas/UTM Bebas.ttf') format('TrueType');
	font-weight: 400;
	font-style: normal;
}